{%- if card_product and card_product != empty -%}
<a href="{{ card_product.url }}">
  <div class="card__wrapper">
    {%- assign hover_class = 'test' -%}
    {%- if card_product.featured_media -%}
      {{ card_product.featured_media | image_url: width: 450 | image_tag: loading: 'lazy', class: hover_class }}
    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
    {%- if card_product.title != blank -%}
      <h3 class="card__title">{{ card_product.title }}</h3>
    {%- endif -%}

    <div class="card__price">
      {%- if card_product.compare_at_price > card_product.price -%}
        <div class="card__price--sale">Sale: --- {{ card_product.compare_at_price }}</div>
      {%- elsif card_product.price_varies -%}
        <div class="price__element-variant">
          {{ card_product.price_min | money }} to {{ card_product.price_max | money }}
        </div>
      {%- endif -%}
      {%- if card_product.price -%}
        {{ card_product.price }}
      {%- endif -%}
    </div>
  </div>
</a>
{%- endif -%}